In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../data/MN_sentencing/allmn.csv", dtype={45:str, 46:str})

In [11]:
for y in df["sentyear"].unique():
    df_y = df[df["sentyear"] == y]
    df_y.reset_index(inplace = True)
    df_y.to_csv("../data/MN_sentencing/{}.csv".format(y))

In [9]:
df_y

,sentyear,district,county,dcnum,count,sentord,order,sex,race,Agecat,...,reason3,reason4,preason1,preason2,preason3,region,presumptlife,presumptlifeid,lifeminmonths,DispType
283672,2001,5,46,K001000075,1.0,1.0,1.0,1,1,3,...,0,0,0.0,0.0,0.0,4,0,0,0,3
283673,2001,1,19,K200001003,3.0,1.0,1.0,1,1,6,...,0,0,0.0,0.0,0.0,3,0,0,0,1
283674,2001,2,62,NaN,1.0,1.0,1.0,1,4,2,...,0,0,0.0,0.0,0.0,2,0,0,0,3
283675,2001,2,62,NaN,1.0,1.0,1.0,1,2,2,...,0,0,0.0,0.0,0.0,2,0,0,0,1
283676,2001,2,62,K200003062,1.0,1.0,1.0,2,1,5,...,0,0,0.0,0.0,0.0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294462,2001,6,69,K301300946,3.0,3.0,1.0,1,4,5,...,0,0,0.0,0.0,0.0,4,0,0,0,1
294463,2001,6,69,K700101551,1.0,2.0,1.0,1,1,4,...,0,0,470.0,0.0,0.0,4,0,0,0,2
294464,2001,10,86,K900002395,1.0,1.0,1.0,1,2,4,...,0,0,470.0,0.0,0.0,4,0,0,0,1
294465,2001,6,69,NaN,1.0,1.0,1.0,1,1,3,...,0,0,470.0,0.0,0.0,4,0,0,0,1
294466,2001,4,27,00063215,7.0,2.0,1.0,1,5,4,...,0,0,0.0,0.0,0.0,1,0,0,0,3